.header-wrapper {
  position: fixed;
  z-index: 99;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #27303F;
  //@media screen and (max-width: $desktopWidth) {
  //}
  //@media screen and (max-width: $smDesktopWidth) {
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  position: static;
  //  margin: 0;
  //  width: $smPhoneWidth;
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  align-items: flex-start;
  //}
  img, .m-top {
    margin-top: 25px;
  }
  span {
    font-family: $font-OpenSans;
    @include font(16px, 600, 22px, #EF5221);
    margin-top: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.header-wrapper-m {
  //position: fixed;
  //z-index: 99;
  //width: 1100px;
  //margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
 // justify-content: space-between;
 // background-color: #27303F;
  //@media screen and (max-width: $desktopWidth) {
  //}
  //@media screen and (max-width: $smDesktopWidth) {
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  position: static;
  //  margin: 0;
  //  width: $smPhoneWidth;
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  align-items: flex-start;
  //}
  img, .m-top {
    margin-top: 25px;
    margin-bottom: 5px;
    //width: 250px;
    //margin-left: 70px;
    //text-align: center;
  }

  info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    //margin-left: 650px;
    //span {
    //  font-family: $font-OpenSans;
    //  @include font(16px, 600, 22px, #EF5221);
    //  margin-top: 5px;
    //  text-decoration: underline;
    //  cursor: pointer;
    //}
  }
  span {
    font-family: $font-OpenSans;
    @include font(16px, 600, 22px, #EF5221);
    margin-top: 5px;
    text-decoration: underline;
    cursor: pointer;
  }

}
//
//span {
//  font-family: $font-OpenSans;
//  @include font(16px, 600, 22px, #EF5221);
//  margin-top: 5px;
//  text-decoration: underline;
//  cursor: pointer;
//}
