.pageTitle {
  font-family: $font-RussoOne;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  color: #EF5221;
  margin: 30px 0;
}
.pageText {
  font-family: $font-OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding-left: 30px;
}